.post_detail_info{
    width: 880px;
    height: 100%;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
}

.post_detail_title{
    font-weight: bold;
    font-size: 24px;
}

/*Avatar 사이즈*/
.post_detail_row > .css-2s90m6-MuiAvatar-root{
    width: 55px;
    height: 55px;
}

.post_detail_row{
    display: flex;
    font-size: 16px;
}
.post_detail_row_mod{
    display: flex;
    justify-content: space-between;
}

/*p태그 마진 빼기*/
.post_detail_row >p{
    margin: 2px 0px;
}

.post_detail_row_padding{
    padding: 0px 3px;
}

.post_detail_content{
    padding-top: 20px;
    padding-bottom: 80px;
    font-size: 16px;
}

.post_detail_content > p >img{
    width: 100%;
}
/* 글 수정, 삭제 버튼 보임 */
.post_modify{
    visibility: visible;
}
/* 수정, 삭제 버튼 숨김 : 기본 */
.post_modify_hidden{
    visibility: hidden;
}

/*댓글들*/
.post_detail_input_comment{
    margin-top: 8px;
    margin-bottom: 50px;
}

.post_detail_input_comment >textarea{
    width: 96.5%;
    height: 80px;
    padding: 15px;
    font-size: 14px;
}

.post_detail_input_comment >button{
    width: 100%;
    height: 45px;
    background: var(--color-line);
    border-color: var(--color-line);
}

.post_detail_comments{
    margin-bottom: 70px;
}